#image-style {
    /* height: 207px; */
    justify-items: center;
    align-items: center;
    margin-top: 70px;
}

#btn {
    background-color: rgb(198, 188, 239);
    color: black;
    border: none;
    font-weight: 600;

}